@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Roboto:wght@100;300;400&display=swap');
/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        etc.
    5. Media Queries
////////////////////////*/
/* ------------------------------- 1. Global Styles -------------------------------- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-purple: #5722CD;
    --primary-light: #4845E4;
    --secondary-pink: #ED4385;
    --black-text: #0C0C0C;
    --light-purple: #F2F0FF;
    --light-grey: #F3F6F9;
    --grey: #7A7A7A
    --white: #ffffff
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    text-align: center;
}

/* ------------------------------- 2. Typography ----------------------------------- */
button, input {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
}

p {
    margin: 20px 0
}

h1, h2, h3, h4, h5 {
    font-family: 'Merriweather', sans-serif;
    font-weight: 400;
}

h1 {
    font-size: 40px;
}

h3 {
    margin: 18px 0;
}

h4 {
    color: var(--primary-purple);
}

/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */
.dev {
    border: 2px dashed red;
}

.outer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.inner-container {
    flex-basis: 1600px;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
}

.inner-container-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 750px;
}

/* --------------- 3.2 Other --------------------------- */

/*Hier kun je buttons/links stijlen en foto's schaalbaar maken*/

button {
    border-radius: 25px;
    padding: 12px 24px;
    border: none;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    color: var(--white);
    text-transform: uppercase;
    background-color: var(--secondary-pink)
}

.squiggle-stripe-header {
    margin-top: 80px;
    margin-bottom: -5px;
}

.work-image {
    width: 100%;
    box-shadow: 5px 5px 25px dimgrey;
}

.image-wrapper {
    flex-basis: 600px;
}

/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------------- */

.header-section {
    background: rgb(75, 73, 232);
    background: linear-gradient(90deg, rgba(75, 73, 232, 1) 30%, rgba(87, 34, 205, 1) 100%);
    color: white;
}

.header-section_navbar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 20px 0;
    padding-bottom: 80px;
}

.header-section_menu {
    list-style: none;
    display: flex;
    flex-basis: 300px;
    flex-direction: row;
    justify-content: space-between;
}


/* --------------- 4.2 Introduction ------------------- */

.inner-container-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    margin-top: 40px;
}

h2 {
    color: var(--primary-purple);
    padding: 10px 0;
    font-size: 23px;
}

.contact-text-main {
    font-size: 13px;
    font-weight: 400;
    margin: 60px 0;
}

.contact-link-main {
    text-decoration: none;
}

/* --------------- 4.3 Projects ------------------- */

.section-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px;
}

.variety-wrapper {
    flex-direction: row-reverse;
}

.section-text {
    flex-basis: 400px;

    margin-left: 60px;
    text-align: right;
}

.variety-text {
    flex-basis: 400px;

    margin-right: 60px;
    text-align: left;
}

.section-text-2 {
    font-size: 14px;
    font-weight: 400;
}

.view-project-link {
    color: var(--primary-purple);
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
}

.project-section {
    background-color: var(--light-grey);
}

/* --------------- 4.4 USP's ------------------- */

.usp-article img {
    width: 75px;
    margin: 15px 0;
}

.usp-article p {
    font-size: 15px;
}

.usp-article {
    text-align: left;
    flex-basis: 400px;
    border: 1px solid var(--primary-purple);
    box-shadow: 5px 5px 25px darkgrey;
    padding: 35px;
}

.inner-container__usp-grid {
    flex-basis: 1300px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 40px;
    margin: 0 20px;
    padding: 100px 0;
}

/* ------------------------------- 5. Media Queries -------------------------------- */